@font-face {
    font-family: 'FangPing';
    src: url('./fonts/PingFangHK.ttf') format('truetype'); 

    font-family: 'FangPingRegular';
    src: url('./fonts/PingFangHKRegular.ttf') format('truetype'); 
    
    font-family: 'FangPingMedium';
    src: url('./fonts/PingFangHKMedium.ttf') format('truetype'); 
}

